@import "./tokens/themes/rivocode-fonts.css";
@import "./tokens/palette.css";
@import "./tokens/scales.css";
@import "./tokens/forma.css";
@import "./tokens/contract.css";
@import "./tokens/themes/rivocode-dark.css";
@import "./tokens/themes/rivocode-light.css";

[data-rc-theme] {
  background-color: var(--rc-bg);
  color: var(--rc-fg);
}

button:not(:disabled),
[role="button"]:not([aria-disabled="true"]) {
  cursor: pointer;
}
